@import "tailwindcss";

:root {
  --bg: #f4f5f7;
  --navy: #004276;
  --navy-dark: #002c4d;
  --red: #e3343f;
  --green: #2baf3b;
}

body {
  background-color: var(--bg);
  color: #020617; /* close to slate-950 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
